## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
        '國家':['a', 'b', 'c', 'd'] ,
#        '人口': list(np.random.randint(10000, size = len(data['國家']))) ,
#        '產值': list(np.random.randint(90000, size = len(data['國家'])))}
         '人口': []
       }
data['人口'] = list(np.random.randint(10000, size = len(data['國家'])))
data = pd.DataFrame(data)
data

  國家    人口
0  a  2157
1  b  9088
2  c  7202
3  d  2575

In [4]:
#data['人口'].idxmax()
data.set_index('國家', inplace=True)
data

      人口
國家
a   2157
b   9088
c   7202
d   2575

In [5]:
#type(data.idxmax(axis = 0))
#print(data.idxmax(axis = 0)[0])
print ("人口最多的國家為:", data.idxmax(axis = 0)[0])
print (data.max(axis = 0))

人口最多的國家為: b
人口    9088
dtype: int64

##### Ref:
https://medium.com/@weilihmen/python-pandas-%E5%9F%BA%E6%9C%AC%E6%93%8D%E4%BD%9C%E6%95%99%E5%AD%B8-%E6%88%90%E7%B8%BE%E8%A1%A8-f6d0ec4f89